
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <div class="card">
                <div class="card-body">
                    <h1 class="titulo">Estudiantes</h1>
                    <table class="table">
                        <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Nombre</th>
                              <th scope="col">Correo</th>
                              <th scope="col">Teléfono</th>
                              <th scope="col">Carrera</th>
                              <th scope="col">Fecha de Nacimiento</th>
                              <th scope="col">Opciones</th>
                            </tr>
                          </thead>
                        <tbody>
                            <tr *ngFor="let estudiante of lista">
                                <td>{{estudiante.id}}</td>
                                <td>{{estudiante.name}}</td>
                                <td>{{estudiante.email}}</td>
                                <td>{{estudiante.phone}}</td>
                                <td>{{obtenerNombreCarrera(estudiante.careerId)}}</td>
                                <td>{{formatDate(estudiante.birthdate)}}</td>
                                <td>
                                    <div class="row">
                                        <div class="col"><i routerLink="/estudiantes/edit/{{estudiante.id}}" class="fa-regular fa-pen-to-square text-info"></i></div>
                                        <div class="col"><i (click)="eliminarEstudiante(estudiante.id)" class="fa-solid fa-trash text-danger"></i></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-grid gap-2 col-4 mx-auto">
                        <button class="btn btn-success" type="button" routerLink="/estudiantes/add">Agregar Estudiante &nbsp;&nbsp;<i class="fa-solid fa-user-plus"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>