/* You can add global styles to this file, and also import other style files */
.titulo {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

.green-icon {
    color: #198754;
}

.red-icon {
    color: #dc3545;
}